<% provide(:title, "All Doctors") %>
<h1>All Doctors</h1>

<ul>
  <% @doctors.each do |doctor| %>
    <li><%= link_to doctor.name, doctor_path(doctor) %></li>
  <% end %>
</ul>

<hr>

<h4>More coming soon</h4>